pool:
  name: Azure Pipelines
  demands: java

steps:
- task: SonarSource.sonarqube.15B84CA1-B62F-4A2A-A403-89B77A063157.SonarQubePrepare@5
  displayName: 'Prepare analysis on SonarQube'
  inputs:
    SonarQube: 'sonarqube-azure-service connection'
    scannerMode: CLI

- task: SonarSource.sonarqube.6D01813A-9589-4B15-8491-8164AEB38055.SonarQubeAnalyze@5
  displayName: 'Run Code Analysis'

- task: Docker@0
  displayName: 'Build an image'
  inputs:
    azureSubscription: 'Microsoft Partner Network (a8b508b6-da16-4c45-84f5-cac5c9f57513)'
    azureContainerRegistry: '{"loginServer":"akspoccontainer.azurecr.io", "id" : "/subscriptions/a8b508b6-da16-4c45-84f5-cac5c9f57513/resourceGroups/Azure-MLOps/providers/Microsoft.ContainerRegistry/registries/akspoccontainer"}'
    includeLatestTag: true

- task: Docker@0
  displayName: 'Push an image'
  inputs:
    azureSubscription: 'Microsoft Partner Network (a8b508b6-da16-4c45-84f5-cac5c9f57513)'
    azureContainerRegistry: '{"loginServer":"akspoccontainer.azurecr.io", "id" : "/subscriptions/a8b508b6-da16-4c45-84f5-cac5c9f57513/resourceGroups/Azure-MLOps/providers/Microsoft.ContainerRegistry/registries/akspoccontainer"}'
    action: 'Push an image'
    includeLatestTag: true

- task: CopyFiles@2
  displayName: 'Copy Files to: $(build.artifactstagingdirectory)'
  inputs:
    Contents: 'azure-aks.yaml'
    TargetFolder: '$(build.artifactstagingdirectory)'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'

steps:
- task: Kubernetes@0
  displayName: 'kubectl  apply'
  inputs:
    kubernetesServiceConnection: 'AKS-POC-Kubernetes Serviceconnection'
    namespace: default
    command: apply
    useConfigurationFile: true
    configuration: '$(System.DefaultWorkingDirectory)/_Test-CICD-Docker container-CI/drop/azure-aks.yaml'